aside {
  @include link-on-dark-background;

  background: linear-gradient(180deg, transparentize($color-light, 85 * $percent) 0%, transparent 60%);
  background-color: unset;
  color: $white;
  height: 100%;
  width: 200px;

  ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      border-bottom: 1px dotted lighten($color-secondary-dark, 10%);
      display: block;
      height: 70 * $pt;
      margin: 0;
      width: 100%;

      a {
        display: block;
        font-size: 30 * $fpt;
        height: 30 * $pt;
        padding: 15 * $pt 0 25 * $pt 20 * $pt;

        i {
          color: transparentize($color-light, 40 * $percent);
          margin-right: 12px;

          &::before {
            font-size: 70%;
          }
        }

        &:hover,
        &:active {
          background-color: transparentize($color-dark, 50 * $percent);
          text-decoration: none;

          i {
            color: $color-accent-light;
          }
        }
      }
    }
  }
}
