li {
  background-color: transparentize($color-dark, 90 * $percent);
  border: 1px solid $color-accent;
  border-radius: $height / 2;
  height: $height;
  margin: 10px;
  margin-top: 10px;
  overflow: hidden;
  width: calc(100% - 40px);

  .perc-bar {
    background: linear-gradient(to top, $color-accent 10%, lighten($color-accent, 5) 100%);
    box-shadow: 0 0 20 * $px $color-accent;
    display: block;
    height: $height;
    position: relative;
    top: 0;
  }

  .fuel,
  .perc {
    color: $white;
    display: block;
    font-size: $height / 2;
    font-weight: 100;
    height: $height;
    line-height: 0;
    padding-right: $height / 10;
    position: relative;
    text-align: right;
    top: -$height * 87 * $percent;

    button {
      background-color: transparentize($color-accent, 90 * $percent);
      border: $height / 30 solid $color-accent;
      border-radius: 50%;
      color: $color-accent;
      cursor: pointer;
      height: $height * 75 * $percent;
      line-height: 0;
      margin-left: $height * 20 * $percent;
      outline: none;
      width: $height * 75 * $percent;

      &:hover {
        background-color: $color-primary-dark;
        border-color: $color-light;
        border-radius: 50%;
        box-shadow: 0 0 20px $color-primary;
        color: $color-light;
      }

      i {
        color: inherit;
        font-size: $height * 20 * $percent;
        pointer-events: none;
      }

      span {
        font-size: 0;
        opacity: 0;
      }
    }
  }

  a {
    color: $teal;
    text-decoration: none;
  }

  .fuel {
    font-weight: 900;
    text-align: left;
    top: -$height * 2;
    width: 75%;

    form {
      background: none;

      label {
        display: none;
      }

      input {
        background: none;
        border: 0;
        color: $white;
        font-size: $height / 2;
        font-weight: 600;
        line-height: $height;
        padding-left: $height / 3;
        text-transform: uppercase;
        width: 100%;

        &.other {
          font-style: italic;
          font-weight: 100;
          opacity: 60 * $percent;
        }

        &::placeholder {
          color: transparentize($white, 50 * $percent);
        }

        &:focus {
          background: linear-gradient(to right, $color-primary 10%, transparent 100%);
          outline: none;

          &.other {
            opacity: 1;
          }
        }
      }
    }
  }
}
