footer {
  font-size: 16 * $pt;
  background-color: #00e4db;
  background: linear-gradient(135deg, #00e4db 0%, #1560c3 100%);
  padding: 12 * $pt;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: $white;

  @include linkOnLightBackground;
}
