footer {
  @include link-on-light-background;

  background-color: $dark-blue;
  bottom: 0;
  color: $white;
  font-size: 16 * $pt;
  padding: 12 * $pt;
  position: fixed;
  width: 100%;

  a {
    color: $color-neutral-light;

    &:hover,
    &:active {
      color: $color-light;
    }
  }
}
