header {
  background: linear-gradient(135deg, $color-primary 0%, $color-primary-dark 100%);
  display: block;
  height: 80px;
  padding: 10px;

  .logo {
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;

    @media screen and (max-width: $break-medium) {
      height: 40px;
      margin-top: 15px;
    }

    @media screen and (max-width: $break-small) {
      height: 30px;
      margin-top: 20px;
    }
  }
}
