main {
  background: linear-gradient(
      135deg,
      transparentize($color-secondary, 0) 20%,
      transparentize(darken($color-secondary, 8), 8 * $percent) 60%,
      transparentize(darken($color-secondary, 16), 16 * $percent) 100%
    ),
    url(https://www.datto.com/grid-assets/img/what-is-datto.2eaf7cf3.svg);

  background-color: $color-secondary;
  background-position: center;
  background-size: cover;
  display: flex;
  height: calc(100vh - 120px);

  @import 'aside';
  @import 'content';
}
