@mixin noselect {
  user-select: none;
}

@mixin link($color, $hover) {
  a {
    color: $color;
    text-decoration: none;

    &:hover,
    &:active {
      color: $hover;
      text-decoration: underline;
    }
  }
}

@mixin link-on-dark-background {
  @include link($white, $azure);
}

@mixin link-on-light-background {
  @include link($dark-blue, $black);
}
