@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
@mixin linkOnDarkBackground {
  a {
    color: $white;
    text-decoration: none;

    &:hover,
    &:active {
      color: $azure;
      text-decoration: underline;
    }
  }
}

@mixin linkOnLightBackground {
  a {
    color: $darkBlue;
    text-decoration: none;

    &:hover,
    &:active {
      color: $black;
      text-decoration: underline;
    }
  }
}
