@import 'colors';
@import 'mixins';

* {
  color: $color-light;
  font-family: 'PT Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

$percent: 1 / 100;
$px: 1px;

$pt: $px * 75 * $percent;
$fpt: $pt * 80 * $percent;
$break-small: 576 * $px;
$break-medium: 768 * $px;
$break-large: 992 * $px;
$break-xl: 1200 * $px;

@import 'header';
@import 'footer';

main {
  background: linear-gradient(135deg, $color-secondary 0%, darken($color-secondary, 15) 100%);
  background-color: $color-secondary;
  display: flex;
  height: calc(100vh - 120px);
  @import 'aside';
  @import 'content';
}
