* {
  color: #fff;
  font-family: 'PT Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(135deg, #e25827 0%, #d40f3a 100%);
  display: block;
  height: 80px;
  padding: 10px;
}

header .logo {
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  header .logo {
    height: 40px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 576px) {
  header .logo {
    height: 30px;
    margin-top: 20px;
  }
}

footer {
  background-color: #002a3a;
  bottom: 0;
  color: #fff;
  font-size: 12px;
  padding: 9px;
  position: fixed;
  width: 100%;
}

footer a {
  color: #002a3a;
  text-decoration: none;
}

footer a:hover, footer a:active {
  color: #000;
  text-decoration: underline;
}

footer a {
  color: #c2c4c5;
}

footer a:hover, footer a:active {
  color: #fff;
}

main {
  background: linear-gradient(135deg, #4e6973 20%, rgba(62, 83, 91, 0.92) 60%, rgba(45, 61, 66, 0.84) 100%), url(https://www.datto.com/grid-assets/img/what-is-datto.2eaf7cf3.svg);
  background-color: #4e6973;
  background-position: center;
  background-size: cover;
  display: flex;
  height: calc(100vh - 120px);
}

main aside {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, transparent 60%);
  background-color: unset;
  color: #fff;
  height: 100%;
  width: 200px;
}

main aside a {
  color: #fff;
  text-decoration: none;
}

main aside a:hover, main aside a:active {
  color: #00e4db;
  text-decoration: underline;
}

main aside ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

main aside ul li {
  border-bottom: 1px dotted #004f6d;
  display: block;
  height: 52.5px;
  margin: 0;
  width: 100%;
}

main aside ul li a {
  display: block;
  font-size: 18px;
  height: 22.5px;
  padding: 11.25px 0 18.75px 15px;
}

main aside ul li a i {
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
}

main aside ul li a i::before {
  font-size: 70%;
}

main aside ul li a:hover, main aside ul li a:active {
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

main aside ul li a:hover i, main aside ul li a:active i {
  color: #00e4db;
}

main .content {
  overflow-x: hidden;
  overflow-y: scroll;
  width: calc(100vw - 200px);
}

main .content h1 {
  font-size: 200%;
  font-weight: 100;
  margin: 10px 0 -10px 20px;
  padding: 20px 0;
}

main .content h1 span {
  opacity: 0.5;
}

main .content ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  width: 100%;
}

main .content ul li {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #199ed9;
  border-radius: 30px;
  height: 60px;
  margin: 10px;
  margin-top: 10px;
  overflow: hidden;
  width: calc(100% - 40px);
}

main .content ul li .perc-bar {
  background: linear-gradient(to top, #199ed9 10%, #26abe6 100%);
  box-shadow: 0 0 20px #199ed9;
  display: block;
  height: 60px;
  position: relative;
  top: 0;
}

main .content ul li .fuel,
main .content ul li .perc {
  color: #fff;
  display: block;
  font-size: 30px;
  font-weight: 100;
  height: 60px;
  line-height: 0;
  padding-right: 6px;
  position: relative;
  text-align: right;
  top: -52.2px;
}

main .content ul li .fuel button,
main .content ul li .perc button {
  background-color: rgba(25, 158, 217, 0.1);
  border: 2px solid #199ed9;
  border-radius: 50%;
  color: #199ed9;
  cursor: pointer;
  height: 45px;
  line-height: 0;
  margin-left: 12px;
  outline: none;
  width: 45px;
}

main .content ul li .fuel button:hover,
main .content ul li .perc button:hover {
  background-color: #d40f3a;
  border-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 20px #e25827;
  color: #fff;
}

main .content ul li .fuel button i,
main .content ul li .perc button i {
  color: inherit;
  font-size: 12px;
  pointer-events: none;
}

main .content ul li .fuel button span,
main .content ul li .perc button span {
  font-size: 0;
  opacity: 0;
}

main .content ul li a {
  color: #199ed9;
  text-decoration: none;
}

main .content ul li .fuel {
  font-weight: 900;
  text-align: left;
  top: -120px;
  width: 75%;
}

main .content ul li .fuel form {
  background: none;
}

main .content ul li .fuel form label {
  display: none;
}

main .content ul li .fuel form input {
  background: none;
  border: 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  line-height: 60px;
  padding-left: 20px;
  text-transform: uppercase;
  width: 100%;
}

main .content ul li .fuel form input.other {
  font-style: italic;
  font-weight: 100;
  opacity: 0.6;
}

main .content ul li .fuel form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

main .content ul li .fuel form input:focus {
  background: linear-gradient(to right, #e25827 10%, transparent 100%);
  outline: none;
}

main .content ul li .fuel form input:focus.other {
  font-style: initial;
  font-weight: unset;
  opacity: initial;
}

@media screen and (max-width: 768px) {
  main .content ul li {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #199ed9;
    border-radius: 15px;
    height: 30px;
    margin: 10px;
    margin-top: 10px;
    overflow: hidden;
    width: calc(100% - 40px);
  }
  main .content ul li .perc-bar {
    background: linear-gradient(to top, #199ed9 10%, #26abe6 100%);
    box-shadow: 0 0 20px #199ed9;
    display: block;
    height: 30px;
    position: relative;
    top: 0;
  }
  main .content ul li .fuel,
  main .content ul li .perc {
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 100;
    height: 30px;
    line-height: 0;
    padding-right: 3px;
    position: relative;
    text-align: right;
    top: -26.1px;
  }
  main .content ul li .fuel button,
  main .content ul li .perc button {
    background-color: rgba(25, 158, 217, 0.1);
    border: 1px solid #199ed9;
    border-radius: 50%;
    color: #199ed9;
    cursor: pointer;
    height: 22.5px;
    line-height: 0;
    margin-left: 6px;
    outline: none;
    width: 22.5px;
  }
  main .content ul li .fuel button:hover,
  main .content ul li .perc button:hover {
    background-color: #d40f3a;
    border-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px #e25827;
    color: #fff;
  }
  main .content ul li .fuel button i,
  main .content ul li .perc button i {
    color: inherit;
    font-size: 6px;
    pointer-events: none;
  }
  main .content ul li .fuel button span,
  main .content ul li .perc button span {
    font-size: 0;
    opacity: 0;
  }
  main .content ul li a {
    color: #199ed9;
    text-decoration: none;
  }
  main .content ul li .fuel {
    font-weight: 900;
    text-align: left;
    top: -60px;
    width: 75%;
  }
  main .content ul li .fuel form {
    background: none;
  }
  main .content ul li .fuel form label {
    display: none;
  }
  main .content ul li .fuel form input {
    background: none;
    border: 0;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    padding-left: 10px;
    text-transform: uppercase;
    width: 100%;
  }
  main .content ul li .fuel form input.other {
    font-style: italic;
    font-weight: 100;
    opacity: 0.6;
  }
  main .content ul li .fuel form input::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  main .content ul li .fuel form input:focus {
    background: linear-gradient(to right, #e25827 10%, transparent 100%);
    outline: none;
  }
  main .content ul li .fuel form input:focus.other {
    font-style: initial;
    font-weight: unset;
    opacity: initial;
  }
}
